

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron{
    background-image: url("../img/Background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
















